<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Laing O'Rourke HR</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>

<main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li><a href="/">Employee (Local)</a></li>
        <li><a href="global_dashboard">Employee (Global)</a></li>
        <li><a href="office_dashboard">Office</a></li>
        <li><a href="department_dashboard">Department</a></li>
        <li class="active"><a href="city_dashboard">City</a></li>
      </ul>
    </nav>
  </aside>

  <section class="mainwindow">
    <div class="container">
      <center>
        <img class = "resize" src ="{{ url_for('static', filename='images/logo.jpg') }}">
      </center>
      <div id="namer">
       <div id="namer-input">

<form action = "/city_dashboard" method="POST">
         <input id = "myInput" type="text" name="Input" placeholder="{{welcome_message}}">

         <input id = "myBtn" type="submit" style="display: none;"></button>
           </form>
         <script>
         var input = document.getElementById("myInput");
         input.addEventListener("keyup", function(event) {
           if (event.keyCode === 13) {
             event.preventDefault();
             document.getElementById("myBtn").click();
           }
         });
       </script>

       </div>


       </div>
       <center>

         {% if message == ''%}


         {%else%}

           <table>
             <tr>
               <td style="text-align:right"><p>         <div class ="tooltip">
                        <p><span style="white-space: pre-line"><b>Information for City:</b></span></p>
                        <span class="tooltiptext">City name </span>
                       </div></p></td>
                <td style = "color: #EEEEEE"> ___  </td>
                 <td style="text-align:left"><p> {{name}} </p></td>

             </tr>
             <tr>
               <td style="text-align:right"><p>         <div class ="tooltip">
                        <p><span style="white-space: pre-line"><b>Active Employees in this Network:</b></span></p>
                        <span class="tooltiptext">How many people are in this network?</span>
                       </div></p></td>
                <td style = "color: #EEEEEE"> ___  </td>
                 <td style="text-align:left"><p> {{message}} </p></td>

             </tr>

             <tr>
               <td style="text-align:right"><p>         <div class ="tooltip">
                        <p><span style="white-space: pre-line"><b>Employees with a High Cost of Replacement:</b></span></p>
                        <span class="tooltiptext">Who are the most influencial employees in this network?  </span>
                       </div></p></td>
                <td style = "color: #EEEEEE"> ___  </td>
                <td style="text-align:left">  <p><span style="white-space: pre-line">{{message3}}</span></p></td>
             </tr>
             <tr>
               <td style="text-align:right"><p>         <div class ="tooltip">
                        <p><span style="white-space: pre-line"><b>Suggested Conections:</b></span></p>
                        <span class="tooltiptext">Which connections would positively benefit this network? </span>
                       </div></p></td>
                <td style = "color: #EEEEEE"> ___  </td>
                <td style="text-align:left">  <p><span style="white-space: pre-line">{{message4}}</span></p></td>
             </tr>

           </table>



            {%endif%}

     </center>
     </div>
    </div>

  </section>

</main>
</body>

</html>
