<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/homepage.css" type="text/css">

</head>
<body>

<!-- This table is for the navigation bar and icon -->
<table cellspacing="0" cellpadding="0" width="100%" >
  <tr>
    <th bgcolor="#0E0D0E">
		<font color="#0E0D0E">Someone fix this spaghetti table</font>
	</th>
    <th rowspan="2" align="right" class="topnav">
			<img src="/static/images/icon.jpg" class="img-responsive" alt="">
	</th>
  </tr>
  <tr>
    <td class="topnav">
		<a class="active" href="/homepage">Home</a>
		<a href="/FAQ">FAQ</a>
		<a href="/contact">Contact</a>
		<a href="/about">About</a>
	</td>
  </tr>
</table>

	<br>
	<br>
	
<center>

	<tr>
		<th align="right"><a class="title_font"><strong>Welcome, {{name}}</strong></a></th>
	</tr>
	<br>
	<tr>
		<th align="right"><a class="title_mini"><strong>{{branch}}</strong></a></th>
	</tr>

	
<table class="margin_top">
	<tr>
		<th><a href="/project" class="fa fa-user"></a></th>
		<th><a href="/project_map" class="fa fa-globe"></a></th>
		<th><a href="/search" class="fa fa-search"></a></th>
		<th><a href="/" class="fa fa-arrow-left"></a></th>
	</tr>
	<tr>
		<td><p class="icon">Project Network</p></td>
		<td><p class="icon">Project Map</p></td>
		<td><p class="icon">Global Search</p></td>
		<td><p class="icon">Logout</p></td>
	</tr>
</table>

<!-- </div> -->
</center>
</body>
</html> 
