<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/login.css" type="text/css">

</head>
<body>
<form method="POST">

<img src="/static/images/logo.jpg" class="img-login" alt="Quasar Logo" width="200">

<h1 class="title_font">Login</h1>
<h2 class="normal_font">Please enter your login details</h2>
<div class="login">
<div class="login-screen">
<div class="app-title">
</div>
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
<center>
{% if message == ''%}

{%else%}
	<font color="red">{{error}}</font>
{%endif%}
</center>
</form>

</body>
</html>