<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/profile.css" type="text/css">
</head>
<body>

<table cellspacing="0" cellpadding="0" width="100%" >
  <tr>
    <th bgcolor="#0E0D0E">
		<font color="#0E0D0E">Someone fix this spaghetti table</font>
	</th>
    <th rowspan="2" align="right" class="topnav">
			<img src="/static/images/icon.jpg" class="img-responsive" alt="">
	</th>
  </tr>
  <tr>
    <td class="topnav">
		<a href="/homepage">Home</a>
		<a href="/FAQ">FAQ</a>
		<a href="/contact">Contact</a>
		<a href="/about">About</a>
	</td>
  </tr>
</table>

	<center>
		<table class="format_table">
			<td>
				<table class="inside_table">
					<tr>
						<th align="right"><a class="title_font"><strong>Project:</strong></a></th>
						<th><a class="title_font">{{name}}</a></th>
					</tr>
					<tr>
						<td align="right"><a class="normal_font"><strong>Evenness:</strong></a></td>
						<td><a class="normal_font">metric 1</a></td>
					</tr>
					<tr>
						<td align="right"><a class="normal_font"><strong>Possible Successors:</strong></td>
						<td><a class="normal_font">metric 2</a></td>
					</tr>
					<tr>
						<td align="right"><a class="normal_font"><strong>Responsiveness:</strong></a></td>
						<td><a class="normal_font">metric 3</a></td>
					</tr>
					<tr>
						<td align="right"><a class="normal_font"><strong>Suggested Connections:</strong></a></td>
						<td><a class="normal_font">metric 4</a></td>
					</tr>					  
				</table>
			</td>
			<td>
				<a class="normal_font">Gephi Goes Here For Personal Connection</a>
			</td>
		</table>
	</center>
</body>
</html>