<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/profile.css" type="text/css">
</head>
<body>

<table cellspacing="0" cellpadding="0" width="100%" >
  <tr>
    <th bgcolor="#0E0D0E">
		<font color="#0E0D0E">Someone fix this spaghetti table</font>
	</th>
    <th rowspan="2" align="right" class="topnav">
			<img src="/static/images/icon.jpg" class="img-responsive" alt="">
	</th>
  </tr>
  <tr>
    <td class="topnav">
		<a href="/homepage">Home</a>
		<a href="/FAQ">FAQ</a>
		<a href="/contact">Contact</a>
		<a href="/about">About</a>
	</td>
  </tr>
</table>

	<center>
		<table class="format_table">
			<td>
				<table class="inside_table">
					<tr>
						<th align="right"><a class="title_font"><strong>Project:</strong></a></th>
						<th><a class="title_font">{{branch}}</a></th>
					</tr>
					<tr>
						<td align="right"><a class="normal_font"><strong>Top collaborators (?):</strong></a></td>
						<td><a class="normal_font">{{topcol}}</a></td>
					</tr>
					<tr>
						<td align="right"><a class="normal_font"><strong>Knowledge brokers (?):</strong></td>
						<td><a class="normal_font">Employee list 2</a></td>
					</tr>
					<tr>
						<td align="right"><a class="normal_font"><strong>Isolated individuals (?):</strong></a></td>
						<td><a class="normal_font">Employee list 3</a></td>
					</tr>			  
				</table>
			</td>
			<td>
				<img src="/static/images/Gephi_Perth2.png" class="img-login" alt="GephiEx" width="400">
			</td>
		</table>
	</center>
</body>
</html>