<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/project.css" type="text/css">
</head>
<body>

<table cellspacing="0" cellpadding="0" width="100%" >
  <tr>
    <th bgcolor="#0E0D0E">
		<font color="#0E0D0E">Someone fix this spaghetti table</font>
	</th>
    <th rowspan="2" align="right" class="topnav">
			<img src="/static/images/icon.jpg" class="img-responsive" alt="">
	</th>
  </tr>
  <tr>
    <td class="topnav">
		<a href="/homepage">Home</a>
		<a href="/FAQ">FAQ</a>
		<a href="/contact">Contact</a>
		<a href="/about">About</a>
	</td>
  </tr>
</table>
<br>
<br>
<center>
		<th align="right"><u><a class="title_font"><strong>{{branch}} Employees of Interest </strong></a></th>
			</u>
			
			<br>
			<br>
			<br>

		<table class="format_table">
			<td class="normal_font"><strong>
				<table class="inside_table", border = "0">
					<col width= "200">
					<col width = "200">
					<col width = "500">
					<tr>
						<td align="middle", rowspan = "3">Top collaborators 
						<br><div class="tooltip"><img src="/static/images/infoicon.png" class="img-login" width="20">
						<span class="tooltiptext">Employees with the highest influence in your network</span></div>
						</td>
							<td>
			
								1. {{topcol[0]}}
							</td>
						<td> 
								{{topcoljobs[0]}}
						</td>
					</tr>
					<tr>
						<td>
								2. {{topcol[1]}}
						</td>
						<td> 
								{{topcoljobs[1]}}
						</td>
					</tr>
					<tr>
						<td>
								3. {{topcol[2]}}
						</td>
						<td> 
								{{topcoljobs[2]}}
						</td>
					</tr>
							
					<tr> <td>
					<br/>
					</td></tr>
					
					<tr>
						<td align="middle", rowspan = "3">Knowledge brokers
						<br><div class="tooltip"><img src="/static/images/infoicon.png" class="img-login" width="20">
						<span class="tooltiptext">Top intermediaries that connect your network with others</span></div>
						</strong></a></td>
						
						<td>
							1. {{knowbro[0]}}
							</td>
							<td> 
							{{knowbrojobs[0]}}
						</td>
						</tr>
						<tr>
						<td>
							2. {{knowbro[1]}}
							</td>
							<td> 
							{{knowbrojobs[1]}}
							</td>
						</tr>
						<tr>
						<td>
							3. {{knowbro[2]}}
							</td>
							<td> 
							{{knowbrojobs[2]}}
						</td>
					
					</tr>
					
					<tr> <td>
					<br/>
					</td></tr>
					
					<tr>
						<td align="middle", rowspan = "3">Isolated individuals 
						<br><div class="tooltip"><img src="/static/images/infoicon.png" class="img-login" width="20">
						<span class="tooltiptext">Employees with few connections within the network</span></div>
						</strong></a></td>
						
						<td>
							1. {{isobro[0]}}
							</td>
							<td> 
							{{isobrojobs[0]}}
						</td>
						</tr>
						<tr>
						<td>
							2. {{isobro[1]}}
							</td>
							<td> 
							{{isobrojobs[1]}}
							</td>
						</tr>
						<tr>
						<td>
							3. {{isobro[2]}}
							</td>
							<td> 
							{{isobrojobs[2]}}
						</td>
					</tr>
				</table>
			<strong></td>
		</table>
		</center>
		
</body>
</html>