<!DOCTYPE html>
<!--
<html>
<head>
<link rel="stylesheet" href="/static/css/profile.css" type="text/css">
</head>
<body>

<table cellspacing="0" cellpadding="0" width="100%" >
  <tr>
    <th bgcolor="#0E0D0E">
		<font color="#0E0D0E">Someone fix this spaghetti table</font>
	</th>
    <th rowspan="2" align="right" class="topnav">
			<img src="/static/images/icon.jpg" class="img-responsive" alt="">
	</th>
  </tr>
  <tr>
    <td class="topnav">
		<a href="/homepage">Home</a>
		<a href="/FAQ">FAQ</a>
		<a href="/contact">Contact</a>
		<a href="/about">About</a>
	</td>
  </tr>
</table>
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Gephi: JavaScript GEXF Viewer</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/gexfjs.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.3.custom.min.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script type="text/javascript">
        // Fallback in case JQuery CDN isn't available
            if (typeof jQuery == 'undefined') {
                document.write(unescape("%3Cscript type='text/javascript' src='js/jquery-2.0.2.min.js'%3E%3C/script%3E"));
            }
        </script>
        <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="js/gexfjs.js"></script>
        <script type="text/javascript" src="config.js"></script>
    </head>
    <body>
        <div id="zonecentre" class="gradient">
            <canvas id="carte" width="0" height="0"></canvas>
            <ul id="ctlzoom">
                <li>
                    <a href="#" id="zoomPlusButton" title="S'approcher"> </a>
                </li>
                <li id="zoomSliderzone">
                    <div id="zoomSlider"></div>
                </li>
                <li>
                    <a href="#" id="zoomMinusButton" title="S'éloigner"> </a>
                </li>
                <li>
                    <a href="#" id="lensButton"> </a>
                </li>
                <li>
                    <a href="#" id="edgesButton"> </a>
                </li>
            </ul>
        </div>
        <div id="overviewzone" class="gradient">
            <canvas id="overview" width="0" height="0"></canvas>
        </div>
        <div id="leftcolumn">
            <div id="unfold">
                <a href="#" id="aUnfold" class="rightarrow"> </a>
            </div>
            <div id="leftcontent"></div>
        </div>
        <div id="titlebar">
            <div id="maintitle">
                <h1><a href="http://gephi.org/" target="_blank" title="Made with Gephi">Gephi: JavaScript GEXF Viewer</a></h1>
            </div>
            <form id="recherche">
                <input id="searchinput" class="grey" autocomplete="off" />
                <input id="searchsubmit" type="submit" />
            </form>
        </div>
        <ul id="autocomplete">
        </ul>
    </body>
</html>
</body>
</html>