<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>


    
        <h1><center>Branch Lookup</center></h1>
        <form class="example" method="post" action="" 
         style="margin:auto;max-width:600px">
		 
		 
            <input type="text" placeholder="Search branch name" name="branch">
            <button type="submit"><i class="fa fa-search"></i>
            </button>
        </form>
        <p></p>
        <center>
		{% if branchfound == 1 %}
        {% for item in data %}
            <tr>
                <td> {{item['TargetID']}} </td>
				
                </br>
            </tr>
        {% endfor %}
		{% elif branchfound == 0 %}
			<font color="red">Branch does not exist, please check spelling</font>
		{%endif%}
        </center> 
		

		
	
    </body>
</html>