<!-- Search Bar -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/profile.css" type="text/css">
</head>
<body>

<table cellspacing="0" cellpadding="0" width="100%" >
  <tr>
    <th bgcolor="#0E0D0E">
		<font color="#0E0D0E">Someone fix this spaghetti table</font>
	</th>
    <th rowspan="2" align="right" class="topnav">
		<img src="/static/images/icon.jpg" class="img-responsive" alt="">
	</th>
	</tr>
	
	<tr>
    <td class="topnav">
		<a href="/homepage">Home</a>
		<a href="/FAQ">FAQ</a>
		<a href="/contact">Contact</a>
		<a href="/about">About</a>
	</td>
	</tr>
</table>

        <h1><center>Branch Lookup</center></h1>
		
        <form class="example" method="post" action="" 
         style="margin:auto;max-width:600px">
		 
            <input type="text" placeholder="Search branch name" name="branch">
            <button type="submit"><i class="fa fa-search"></i>
            </button>
        </form>
		
        <center>
		{% if branchfound == 1 %}
			{% for i in range(datalen) %}
				<tr>
					<td> {{data[i]}} </td>
					</br>
				</tr>
			{% endfor %}
		
        <!--
		{% for item in data %}
            <tr>
                <td> {{item['TargetID']}} </td>
				
                </br>
            </tr>
        {% endfor %}
		-->
		{% elif branchfound == 0 %}
			<font color="red">Branch does not exist, please check spelling</font>
		{%endif%}
        </center>
    </body>
</html>